<!--<svg viewBox="0 0 200 200" id = "land-blob" width = "400" height = "400" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D56" id = "blobby" d="M35.4,-56.3C49.9,-53,68.2,-51.5,78.7,-42.4C89.1,-33.3,91.7,-16.7,89.1,-1.5C86.6,13.7,79,27.5,69.2,37.7C59.4,47.9,47.4,54.6,35.5,61.6C23.6,68.5,11.8,75.8,-0.2,76.2C-12.2,76.5,-24.3,69.8,-34.7,61.9C-45,54.1,-53.5,44.9,-62.9,34.4C-72.4,23.9,-82.7,11.9,-84.7,-1.1C-86.6,-14.2,-80.1,-28.3,-72.7,-42.5C-65.4,-56.6,-57.2,-70.7,-44.9,-75.3C-32.7,-79.8,-16.3,-74.8,-2.9,-69.7C10.5,-64.7,21,-59.6,35.4,-56.3Z" transform="translate(100 100)" />
</svg>!-->
<div class = "back one"></div>
<div class = "back two"></div>
<div class = "c1"></div>
<img src="https://img.icons8.com/doodle/48/000000/book-shelf--v1.png"/>
<img src = "/images/landing.svg" width = "500" height = "500" class = "img-fluid float-right land-img" />
<div class = "land-div w-50 pl-5">
    <h1>Welcome to a new way of learning with Knowmore<span class = "dot-one">.</span><span class = "dot-two">.</span><span class = "dot-three">.</span></h1>
    <button class = "land-btn p-3 mt-3" type = "button"><a href = "/books/all">Get Started</a></button>
</div>    