<h1> Add Book </h1>
<form action = "/authors/post" method = "POST"> 
    Name:<input type = "text" name = "name"><br>
    <button><a href = "/authors"> Cancel </a></button>
    <button type = "submit"> Submit </button>
</form>    